:root {
	--primary-color: #8f707d;
	--secondary-color: #f9c3ee;
}

* {
	font-family: Arial, Helvetica, sans-serif;
	/* border: 1px solid red; */
}

html,
body {
	margin: 0;
	padding: 0;
}

header {
	background: var(--primary-color);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 1;
}

#hamburguer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 1rem;
}

#hamburguer button {
	width: 2rem;
	height: 2rem;
	border: none;
	padding: 0;
	background: linear-gradient(
		to bottom,
		white,
		white 20%,
		var(--primary-color) 20%,
		var(--primary-color) 40%,
		white 40%,
		white 60%,
		var(--primary-color) 60%,
		var(--primary-color) 80%,
		white 80%,
		white 100%
	);
}

#hamburguer button:hover {
	background: linear-gradient(
		to bottom,
		var(--secondary-color),
		var(--secondary-color) 20%,
		var(--primary-color) 20%,
		var(--primary-color) 40%,
		var(--secondary-color) 40%,
		var(--secondary-color) 60%,
		var(--primary-color) 60%,
		var(--primary-color) 80%,
		var(--secondary-color) 80%,
		var(--secondary-color) 100%
	);
}

#hamburguer button:hover {
	cursor: pointer;
}

#hamburguer nav {
	position: fixed;
	top: 3rem;
	left: -10rem;
	background: var(--primary-color);
	height: 100vh;
	width: 10rem;
	text-align: left;
	color: white;
	transition: left 0.2s;
	z-index: -1;
}

header h1 {
	font-size: x-large;
	font-weight: 10;
}

#hamburguer h2 {
	cursor: default;
	font-size: x-large;
	font-weight: 800;
	text-indent: 0.5rem;
}

#hamburguer h3 {
	font-size: large;
	font-weight: 100;
	text-indent: 1rem;
}

#hamburguer h3:hover {
	color: var(--secondary-color) !important;
}

#socials {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-right: 1rem;
}

#socials a {
	text-decoration: none;
}

#socials a:visited {
	color: white;
}

#socials a:link {
	color: white;
}

#socials i {
	font-size: 2rem;
}

main {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

main > * {
	opacity: 0%;
	transition: opacity 0.2s;
}

#about {
	color: var(--primary-color);
	margin: 1rem;
}

#about p {
	text-align: center;
	color: var(--primary-color);
}

#about h3,
h4,
ul {
	text-align: left;
}

#about h3 {
	margin-top: 3rem;
	margin-bottom: 0;
	font-size: x-large;
	font-weight: 700;
}

#about h4 {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
}

#about ul {
	margin-top: 0.5rem;
	margin-bottom: 2rem;
}

#about li {
	margin-bottom: 0.5rem;
}

#about img {
	width: 100vw;
	max-width: 40vh;
}

#about hr {
	border-top: 0.1rem solid var(--primary-color);
}

#skills {
	display: flex;
}

#skills li {
	list-style-type: none;
}

#resume-button {
	text-decoration: none;
	background: var(--primary-color);
	color: white;
	border-radius: 10rem;
	padding: 0.5rem 2rem 0.5rem 2rem;
}

#resume-button:visited {
	color: white;
}

#resume-button:hover {
	background-color: var(--secondary-color);
}

#projects h3 {
	text-align: center;
	margin-bottom: 0;
	margin-top: 3rem;
	color: var(--primary-color);
}

#projects hr {
	margin-bottom: 0;
	border-top: 0.1rem solid var(--primary-color);
}

#projects div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

#projects img {
	width: 20vw;
	min-width: 20rem;
	border-radius: 3rem;
}

#certifications {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

#certifications img {
	width: 50vw;
	min-width: 20rem;
}

figcaption {
	font-size: larger;
	font-weight: 600;
	color: var(--primary-color);
}
